<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">

  <div style="margin: 50px;">
    <ion-row>Register</ion-row>
    <ion-item>
    <ion-input type="text" fill="solid" label="Name" labelPlacement="floating" 
      formControlName="fullname"></ion-input>
    @if (fullname.invalid && (fullname.dirty || fullname.touched)) {
    <small>
     Enter your full name
    </small>

    }
  </ion-item>
  <ion-item>
    <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" 
      formControlName="email"></ion-input>
    @if (email.invalid && (email.dirty || email.touched)) {
    <small>
      @if (email.errors?.['required']) {
      <small>Email Required</small>
      }
      @if (email.errors?.['email']) {
        <small>Email should be valid</small>
        }
    </small>
    }
  </ion-item>
  <ion-item>
    <ion-input type="password" fill="solid" label="Password" labelPlacement="floating" 
      formControlName="password"></ion-input>
      @if (password.invalid && (password.dirty || password.touched)) {
        <small>
          @if (password.errors?.['required']) {
          <small>Password Required</small>
          }
          @if (password.errors?.['password']) {
            <small>Password should be valid</small>
            }
        </small>
        }
      </ion-item>
      <ion-item>
        <ion-input type="password" fill="solid" label="Confirm Password" labelPlacement="floating" 
        formControlName="confirmPassword"></ion-input>
        @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
          <small>
            @if (confirmPassword.errors?.['required']) {
            <small>Password Required</small>
            }
            @if (confirmPassword.errors?.['password']) {
              <small>Password should be valid</small>
              }
          </small>
          @if (registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid){
            <small>
          Password should match
        </small>
          }
      
          }
        </ion-item>
    <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">Register</ion-button>
    <ion-item>
      Already a member? <ion-button href="/login" fill="clear" size="small" class="ion-no-padding">Login</ion-button>
    </ion-item>
  </div>
</form>